name: Start Workflow

on: [push]

jobs:
  build:
      runs-on: ubuntu-latest
          steps:
              - uses: actions/checkout@v2
                  - name: Run start.sh
                        run: ./start.sh
